<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="warning"/>
  <module name="FileTabCharacter"/>
  <module name="TreeWalker">
    <property name="severity" value="warning"/>
    <property name="cacheFile" value="null"/>
    <module name="SuppressionCommentFilter">
      <property name="offCommentFormat" value="CHECKSTYLE.OFF\: ([\w\|]+)"/>
      <property name="onCommentFormat" value="CHECKSTYLE.ON\: ([\w\|]+)"/>
      <property name="checkFormat" value="$1"/>
    </module>
    <module name="SuppressWithNearbyCommentFilter">
      <property name="commentFormat" value="CHECKSTYLE IGNORE (\w+) FOR NEXT (\d+) LINES"/>
      <property name="checkFormat" value="$1"/>
      <property name="influenceFormat" value="$2"/>
    </module>      
    <module name="AnnotationUseStyle"/>
    <module name="EmptyBlock">
      <property name="tokens" value="LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_IF, LITERAL_FOR, LITERAL_TRY, LITERAL_WHILE, INSTANCE_INIT, STATIC_INIT"/>
    </module>
    <module name="LeftCurly">
      <property name="severity" value="warning"/>
    </module>
    <module name="NeedBraces">
      <property name="severity" value="info"/>
    </module>
    <module name="RightCurly">
      <property name="severity" value="warning"/>
    </module>
    <module name="AvoidNestedBlocks"/>
    <module name="MissingOverride"/>
    <module name="VisibilityModifier">
      <property name="packageAllowed" value="true"/>
      <property name="protectedAllowed" value="true"/>
    </module>
    <module name="FinalClass">
      <property name="severity" value="info"/>
    </module>
    <module name="InterfaceIsType"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="MutableException"/>
    <module name="CovariantEquals"/>
    <module name="EmptyStatement"/>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="FinalLocalVariable">
      <property name="severity" value="info"/>
      <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF"/>
    </module>
    <module name="HiddenField">
      <property name="ignoreConstructorParameter" value="true"/>
      <property name="ignoreSetter" value="true"/>
    </module>
    <module name="IllegalInstantiation">
      <property name="severity" value="warning"/>
      <property name="classes" value="java.lang.Boolean, java.lang.Long, java.lang.Integer"/>
    </module>
    <module name="IllegalToken">
      <property name="tokens" value="STRICTFP,LITERAL_NATIVE,LABELED_STAT"/>
    </module>
    <module name="InnerAssignment"/>
    <module name="MagicNumber">
      <property name="severity" value="warning"/>
      <property name="ignoreNumbers" value="-1, 0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 32, 64, 128, 256, 512, 1000, 1024, 1000000"/>
    </module>
    <module name="ModifiedControlVariable"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="StringLiteralEquality"/>
    <module name="NestedIfDepth">
      <property name="severity" value="warning"/>
      <property name="max" value="2"/>
    </module>
    <module name="NestedTryDepth">
      <property name="severity" value="warning"/>
      <property name="max" value="2"/>
    </module>
    <module name="NoClone"/>
    <module name="NoFinalizer"/>
    <module name="IllegalCatch">
      <property name="severity" value="warning"/>
      <property name="illegalClassNames" value="java.lang.Throwable"/>
    </module>
    <module name="IllegalThrows">
      <property name="illegalClassNames" value="java.lang.Error, java.lang.RuntimeException"/>
    </module>
    <module name="IllegalThrows">
      <property name="severity" value="info"/>
      <property name="illegalClassNames" value="java.lang.Throwable, java.lang.Exception"/>
    </module>
    <module name="IllegalType">
      <property name="severity" value="warning"/>
    </module>
    <module name="PackageDeclaration"/>
    <module name="ReturnCount">
      <property name="severity" value="warning"/>
      <property name="max" value="4"/>
      <property name="format" value="^((equals)|(compareTo))$"/>
    </module>
    <module name="DeclarationOrder">
      <property name="severity" value="info"/>
    </module>
    <module name="ParameterAssignment">
      <property name="severity" value="warning"/>
    </module>
    <module name="ExplicitInitialization">
      <property name="severity" value="info"/>
    </module>
    <module name="DefaultComesLast"/>
    <module name="MultipleStringLiterals">
      <property name="severity" value="warning"/>
      <property name="allowedDuplicates" value="2"/>
      <property name="ignoreStringsRegexp" value="^((&quot;&quot;)|(&quot;, &quot;)|(&quot;\\n&quot;))$"/>
    </module>
    <module name="MultipleVariableDeclarations"/>
    <module name="UnnecessaryParentheses">
      <property name="severity" value="info"/>
    </module>
    <module name="AvoidStaticImport">
      <property name="excludes" value="org.junit.jupiter.api.Assertions.*,org.assertj.core.api.Assertions.*,org.assertj.core.api.SoftAssertions.*,org.mockito.Mockito.*,org.mockito.ArgumentMatchers.*"/>
    </module>
    <module name="IllegalImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="ClassDataAbstractionCoupling">
      <property name="severity" value="warning"/>
      <property name="max" value="10"/>
    </module>
    <module name="ClassFanOutComplexity">
      <property name="severity" value="warning"/>
      <property name="max" value="30"/>
    </module>
    <module name="BooleanExpressionComplexity">
      <property name="severity" value="warning"/>
      <property name="max" value="4"/>
    </module>
    <module name="CyclomaticComplexity">
      <property name="severity" value="warning"/>
    </module>
    <module name="NPathComplexity">
      <property name="severity" value="warning"/>
    </module>
    <module name="JavaNCSS">
      <property name="severity" value="warning"/>
      <property name="methodMaximum" value="80"/>
      <property name="classMaximum" value="800"/>
      <property name="fileMaximum" value="1000"/>
    </module>
    <module name="UncommentedMain"/>
    <module name="UpperEll"/>
    <module name="ArrayTypeStyle"/>
    <module name="Indentation" />
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="ExecutableStatementCount"/>
    <module name="MethodLength"/>
    <module name="AnonInnerLength">
      <property name="severity" value="warning"/>
      <property name="max" value="60"/>
    </module>
    <module name="ParameterNumber">
      <property name="severity" value="warning"/>
    </module>
    <module name="OuterTypeNumber"/>
    <module name="GenericWhitespace"/>
    <module name="MethodParamPad">
      <property name="allowLineBreaks" value="true"/>
    </module>
    <module name="OperatorWrap"/>
    <module name="MethodCount"/>
    <module name="ClassTypeParameterName"/>
    <module name="ConstantName">
      <property name="format" value="^(logger)|([A-Z][A-Z0-9]*(_[A-Z0-9]+)*)$"/>
    </module>
    <module name="LocalVariableName"/>
    <module name="LocalFinalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName">
      <property name="format" value="^[a-z][a-zA-Z0-9_]*$"/>
    </module>
    <module name="MethodTypeParameterName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName">
      <property name="format" value="^(([a-z][a-zA-Z0-9]*)|(log)|(logger))$"/>
    </module>
    <module name="TypeName"/>
    <module name="LineLength">
      <property name="max" value="160"/>
    </module>
	<module name="TodoComment">
      <property name="severity" value="warning"/>
      <property name="format" value="(?!(//\s?TODO\s.{3,}\s\d{1,2}\.\d{1,2}\.\d{4}:.{10,}))//\s?TODO"/>
      <message key="todo.match" value="TODO must match format e.g. &quot;// TODO author 1.1.2013: some description&quot;. Description must be minimal length of 10."/>
    </module>
  </module>
  <module name="NewlineAtEndOfFile">
    <property name="lineSeparator" value="lf"/>
  </module>
  <module name="FileLength"/>
</module>
